[Unit]
Description=Telegram-бот LORS (runbot)
After=network.target

[Service]
User=halid
WorkingDirectory=/home/halid/app/lors
EnvironmentFile=/home/halid/app/lors/.env
ExecStart=/home/halid/app/lors/.venv/bin/python manage.py runbot
Restart=on-failure

[Install]
WantedBy=multi-user.target
